// cara menggunakan @use untuk memanggil mixin
@use 'mixin' as m;

.header ul{

    // cara memamnggil mixin
    @include m.inline-list();
        li {
            background-color:black;
            padding: 0.7em;
        }

        a {
            color: white;
        }
}